<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="plantilla/plantilla::head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container" th:replace="plantilla/plantilla::menu"></div>
        <div class="container" style="max-width: 400px; margin-top: 50px">
            <div class="card">
                <div class="card-header">
                    Modificar Post
                </div>
                <div class="card-body">
                    <form action="/updateprod" method="post">
                        <div class="mb-3">
                            <select name="idcategoria" id="cat" class="form-control">
                                <option value="0">Seleccionar Categoria</option>                                
                                <option th:each="cat : ${cats}" th:value="${cat.idcategoria}" th:text="${cat.nombre}" th:selected="false"/>                              
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control m-25" placeholder="Producto" name="nombre" th:value="${prod.nombre}" >
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="precio" placeholder="Precio" th:value="${prod.precio}" >        
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="stock" placeholder="Stock" th:value="${prod.stock}" >        
                        </div>
                        <input type="hidden" name="idproducto" th:value="${prod.idproducto}" />
                        <input type="submit" class="btn btn-primary" value="Actualizar">
                    </form>
                </div>
            </div>
    </body>
</html>

